body {
    background: url("../pattern/pattern.png");
    height: 100%;
    margin: 0;
    padding: 0;
}

#main-wrapper {
    padding: 0 0 85px;
    min-height: 100%;
    height: auto;
    position: relative;
}

#main-body {
    width: 960px;
    height: 100%;
    margin: 0 auto;
    color: #777777;
    font-family: sans-serif;
}

.title-text {
    font-family: 'Georgia', Times, 'Times New Roman', serif;
}

.teal-color-text {
    color: #4aaaa5;
}

header {
    height: 92px;
    width: 960px;
    clear: both;
    color: #777777;
    background: #ffffff;
    border-color: #cccccc;
    overflow: auto;
}

h1 {
    font-size: 32px;
}

h2 {
    font-size: 24px;
}

h3, p {
    font-size: 18px;
}


a {
    text-decoration: none;
    color: inherit;
}

hr {
    margin: 15px 0px;
}


.nav-title {
    width: 650px;
    margin-right: 10px;
    float: left;
}

.title-box {
    margin-left: 50px;
    padding: 30px 20px 30px 20px;
    float: left;
    background: #4aaaa5;
    color: #ffffff;
    font-weight: bold;
}



.nav-items {
    margin: 5px 10px 5px 0px;
    width: 250px; 
    float: left;
    padding: 30px 20px 30px 20px;
    text-align: center;
}

.nav-item-about {
    float:left;
    margin-right: 5px;
    border-right: 1px solid #AAA;
    padding: 5px 10px 5px 5px;
}

.nav-item-portfolio {
    float:left;
    margin-right: 5px;
    border-right: 1px solid #AAA;
    padding: 5px 10px 5px 5px;
}

.nav-item-contact {
    float:left;
    padding: 5px 10px 5px 5px;
}

section {
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 25px;
    margin-bottom: 25px;
    clear: both;
    background: inherit;
    border-color: #dddddd;
    overflow: auto;
}

.main-section {
    background: #fff;
    margin-right: 10px;
    width: 580px;
    padding: 15px;
    float: left;
}

.main-section-header {
    font-weight: bold;
}

.main-section-content {
}

.sub-content {
    margin-top: 10px;
    padding: 10px;
    line-height: 1.5;
}

.underline {
    text-decoration: underline;
}

.img-profile {
    float: left;
    margin: 10px 15px;
    height: 150px;
    width: 150px;
}

input {
    width: 540px;
}

textarea {
    width: 540px;
}

button {
    border: none;
    color: #fff;
    padding: 10px 30px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 10px 0px;
    background: #4aaaa5;

}

button:hover {
    background: #52EDC7;
}

.property-name {
    padding: 7px 0;
}

.property-value {
    padding: 7px;
    margin-bottom: 5px;
    border-color: #AAA;
    border-style: solid;
    border-width: 0.5px;
    font-size: 14px;
}

.portfolio-container {
    float: left;
    padding: 5px;
    margin: 10px 15px;
    position: relative;
}

.img-portfolio {
    width: 240px;
    height: 190px;
}

.img-title {
    background: #4aaaa5;
    color: #fff;
    font-size: 20px;
    top: 130px;
    padding: 15px 0px;
    position: absolute;
    width: 240px;
    text-align: center;
}

.side-bar {
    background: #fff;
    margin-left: 10px;
    width: 200px;
    padding: 15px;
    float: right;
    text-align: center;
    
}

.side-bar-header {
    font-weight: bold;
}

.side-bar-content {
    
}

.img-icon {
    width: 62px;
    height: 62px;
}

footer {
    width: 100%;
    bottom: 0px;
    position: fixed;
    left: 0px;
    clear: both;
    padding: 30px;
    text-align: center;
    color: #EEE;
    background: #666666;
    border-top: 7px solid #4aaaa5;
}